/*
    Linki do palety kolorów gradientów użytych na stronie:
    https://www.eggradients.com/gradient/ctrl-s
    https://www.eggradients.com/gradient/low-probability
*/

body {
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bolder;
    overflow: hidden;
    text-align: center;
    user-select: none;
}

p {
    transition: 0.2s;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ff1493;
    background-image: linear-gradient(319deg, #ff1493 0%, #0000ff 37%, #ff8c00 100%);
}

#reset {
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#reset:hover {
    transform: scale(105%);
}

#win {
    color: #00a400;
}

#draw {
    color: #cb0000;
}

.textShadow {
    text-shadow: #ca69ff 0.5rem 0.5rem 1rem;
}

.blinking{
    animation: blinking 1s infinite;
}

.row {
    display: flex;
    justify-content: center;
}

.tile {
    background-color: #663dff;
    background-image: linear-gradient(319deg, #663dff 0%, #aa00ff 37%, #cc4499 100%);
    font-size: 5rem;
    width: 100px;
    height: 100px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;
}

.tile:hover:not(.O):not(.X):not(.block) {
    background-color: #888888;
    cursor: pointer;
    transform: scale(105%);
}

@keyframes blinking {
    0%{
        text-shadow: #5b5b5b 0 0 1rem;
    }
    50%{
        text-shadow: #ffffff 0 0 1rem;
    }
    100%{
        text-shadow: #5b5b5b 0 0 1rem;
    }
}

@media (orientation: portrait) or (max-height: 720px) {
    body {
        font-size: 2rem;
    }

    .tile {
        width: 75px;
        height: 75px;
        font-size: 3.75rem;
    }
}