body {
    background-color: #444444;
    font-size: 4rem;
    font-family: sans-serif;
    font-weight: bolder;
    overflow: hidden;
    text-align: center;
    user-select: none;
}

p {
    transition: 0.2s;
}

#reset {
    background-color: #666666;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}

#reset:hover {
    background-color: #888888;
    transform: scale(105%);
}

#win {
    color: #00a400;
}

#draw {
    color: #cb0000;
}

.row {
    display: flex;
    justify-content: center;
}

.tile {
    background-color: #666666;
    font-size: 5rem;
    width: 100px;
    height: 100px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    transition: 0.2s;
}

.tile:hover:not(.O):not(.X):not(.block) {
    background-color: #888888;
    cursor: pointer;
    transform: scale(105%);
}

@media (orientation: portrait) or (max-height: 720px) {
    body {
        font-size: 2rem;
    }

    .tile {
        width: 75px;
        height: 75px;
        font-size: 3.75rem;
    }
}