@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --backgroundBlack: #121213;
    --tileBlack: #3a3a3c;
    --tileGray: #818384;
    --tileYellow: #b59f3b;
    --tileGreen: #538d4e;
    --fontWhite: #f8f8f8;
    --girdCellSize: 65px;
    --standardFontSize: 1.25rem;
    --doubleFontSize: 2.5rem;
    overflow: hidden;
}

#main {
    font-family: "Oswald", sans-serif;
    font-size: var(--standardFontSize);
    text-align: center;
    color: var(--fontWhite);
    background-color: var(--backgroundBlack);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.bigText {
    font-size: var(--doubleFontSize);
    margin: 0;

}

.gridRow {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.gridCell {
    background-color: var(--tileBlack);
    width: var(--girdCellSize);
    height: var(--girdCellSize);
    font-size: var(--doubleFontSize);
    font-weight: 500;
    border: 2px solid var(--tileGray);
    border-radius: 5px;
    margin: 5px;
}

.gridCellWrong {
    background-color: var(--tileGray) !important;
}

.gridCellCorrectLetter {
    background-color: var(--tileYellow) !important;
}

.gridCellCorrectSpot {
    background-color: var(--tileGreen) !important;
}

.textRed {
    color: #d90000;
    -webkit-text-stroke-width: 0.015em;
    -webkit-text-stroke-color: var(--fontWhite);
}

input {
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.1rem;
    color: var(--fontWhite);
    caret-color: var(--tileBlack);
    background-color: var(--tileBlack);
    border: 2px solid var(--tileGray);
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: 150px;
    transition: 0.1s;
}

input:hover:not(#userInput) {
    border: 2px solid var(--tileYellow);
    scale: 1.1;
}

@media (orientation: portrait) or (max-width: 1024px) {
    :root {
        --girdCellSize: 50px;
        --standardFontSize: 1rem;
        --doubleFontSize: 2rem;
    }
}