#BGvideo{
    filter: brightness(80%);
}

#info{
    position: relative;
    bottom: 75px;
    font-size: 30px;
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.box{
    background-color: rgba(0,0,0,0.5);
    height: 500px;
    padding: 10px;
    width: 25vw;
    margin: 2vw;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    position: relative;
    transition: 1s;
}

.box:hover{
    filter: opacity(100%);
    scale: 120%;
    color: #ffffff;
    background-color: #555555;
    box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 10px white;
    transition: 1s;
}

.pyt{
    width: 25vw;
    filter: opacity(100%);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.box:hover>.pyt{
    filter: opacity(0%);
    transition: 1s;
}

.odp{
    width: 25vw;
    filter: opacity(0%);
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.box:hover>.odp{
    filter: opacity(100%);
    transition: 1s;
}


@media (orientation: portrait){
    .row{
        display: block;
        margin-bottom: 0;
    }
    .box{
        width: 60vw;
        height: 60vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        font-size: 15px;
    }
    .pyt,.odp{
        width: 50vw;
    }
    #info{
        top: 5px;
    }
} 