#BGvideo{
    filter: brightness(80%);
}

.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 5vw;
    margin-right: 5vw;
}

.box{
    height: 500px;
    padding: 10px;
    width: 25vw;
    margin: 2vw;
    position: relative;
}

.pyt{
    width: 25vw;
    filter: opacity(100%);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.box:hover>.pyt{
    filter: opacity(0%);
    transition: 1s;
}

.odp{
    width: 25vw;
    filter: opacity(0%);
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
}

.box:hover>.odp{
    filter: opacity(100%);
    transition: 1s;
}


@media (orientation: portrait){
    .row{
        display: block;
        margin-bottom: 0;
    }
    .box{
        width: 60vw;
        height: 60vh;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10vh;
        font-size: 15px;
    }
    .pyt,.odp{
        width: 50vw;
        font-size: 10px;
    }
    #info{
        top: 5px;
    }
} 