#BGvideo{
    filter: brightness(50%);
}

#info{
    position: relative;
    bottom: 75px;
    font-size: 30px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.box{
    background-color: rgba(0,0,0,0.5);
    width: 30vw;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    margin: 30px;
    padding: 10px;
    transition: 1s;
}

.box:hover{
    filter: opacity(100%);
    scale: 120%;
    color: #ffffff;
    background-color: #555555;
    box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 10px white;
    transition: 1s;
}

.box>img{
    max-width: 25vw;
    max-height: 40vh;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

.box:hover>img{
    box-shadow: 0px 0px 10px white;
    transition: 1s;
}

.date{
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

.link:visited{
    color: white;
}

#rainbow{
    scale: 200%;
    animation: rainbow 3s infinite;
}

@media (orientation: portrait){
    
    .row{
        display: block;
    }
    .box{
        filter: opacity(100%);
        width: 70vw;
        margin-left: 15vw;
        margin-right: 15vw;
        font-size: 15px;
    }
    .box>img{
        width: 30vw;
    }
    .date{
        visibility: hidden;
        position: absolute;
    }
    #info{
        top: 5px;
    }
}

@keyframes rainbow{
    0%{
        color: rgb(255, 0, 0);
    }
    16%{
        color: rgb(255, 255, 0);
    }
    32%{
        color: rgb(0, 255, 0);
    }
    48%{
        color: rgb(0, 255, 255);
    }
    64%{
        color: rgb(0, 0, 255);
    }
    80%{
        color: rgb(255, 0, 255);
    }
    100%{
        color: rgb(255, 0, 0);
    }
    
    
}