#BGvideo{
    filter: brightness(50%);
}

#info{
    position: relative;
    bottom: 75px;
    font-size: 30px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 200px;
}

.box{
    width: 30vw;
    margin: 30px;
    padding: 10px;
}


.box>img{
    max-width: 25vw;
    max-height: 40vh;
}


.date{
    font-size: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

#rainbow{
    scale: 200%;
    animation: rainbow 3s infinite;
}

@media (orientation: portrait) , (max-width: 1200px){
    
    .row{
        display: block;
    }
    .box{
        filter: opacity(100%);
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
    }
    .box>img{
        width: 40vw;
    }
    .date{
        visibility: hidden;
        position: absolute;
    }
    #info{
        top: 5px;
    }
}

@keyframes rainbow{
    0%{
        color: rgb(255, 0, 0);
    }
    16%{
        color: rgb(255, 255, 0);
    }
    32%{
        color: rgb(0, 255, 0);
    }
    48%{
        color: rgb(0, 255, 255);
    }
    64%{
        color: rgb(0, 0, 255);
    }
    80%{
        color: rgb(255, 0, 255);
    }
    100%{
        color: rgb(255, 0, 0);
    }
    
    
}