#raty{
    display: none;
    width: 50px;
    height: 15px;
    margin-left: 5px;
}

#ratyLabel{
    display: none;
}

#potwierdz{
    margin-top: 50px;
}

.info{
    font-size: xx-large;
    margin: 0;
}

.oknoZakupu{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 50px;
    background-color: #de937c;
    border: 5px solid #a14746;
    border-radius: 5px;
    width: 50vw;
}

.image{
    margin-right: 250px;
}
