body{
    background-color: #c67363;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #eeeeee;
}

#navbar{
    background-color: #782e3b;
    position: fixed;
    padding: 10px;
    top: 5px;
    gap: 10px;
    border-radius: 5px;
    z-index: 1;
}


#title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: xx-large;
    margin-top: 10vh;
}

#main{
    margin-top: 10vh;
    text-align: center;
}

.wrap{
    display: grid;
    justify-content: center;
    gap: 20px;
}

.box{
    width: 40vw;
    background-color: #a14746;
    padding: 10px;
    height: 250px;
    border-radius: 5px;
}


.info{
    font-size: xx-large;
    margin: 0;
}

.opis{
    font-size: large;
    position: relative;
    margin-top: 25px;
    float: right;
}

.image{
    height: 200px;
    margin-top: 25px;
    float: left;
    border-radius: 5px;
}

.image2{
    height: 200px;
    margin-top: 25px;
    border-radius: 5px;
}

.kup{
    margin-left: 50px;
    width: 50px;
}

@media (orientation:portrait) , (max-width: 1350px){
    .box{
        width: 75vw;
    }

}

@media (max-width: 710px){
    .box{
        width: 90vw;
    }
    .image{
        height: 150px;
        margin-top: 50px;
    }
}

@media (max-width: 500px){
    #title{
        font-size: large;
    }

    .image{
        height: 100px;
        margin-top: 75px;
    }

    .opis{
        font-size: small;
        margin-top: 50px;
    }

    .kup{
        margin-left: 25px;
    }
}