body{
    color: #eeeeee;
    background-image: url(matrix-5361690_1280.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
}
#baner{
    text-align: center;
    padding: 0px;
    width: 50vw;
    height: 20vh;
}
#links{
    display: block;
    text-align: center;
    padding-top: 5vh;
}
a{
    color: #eeeeee;
    text-decoration: none;
    font-weight: bold;
    margin: 1vh;
    background-color: #555555;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 5px;
}
a:hover{
    color: #aaaaaa;
}
.gap{
    margin-top: 30vh;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}
.box{
    width: 70vw;
    border: 5px solid #eeeeee;
    background-color: rgba(0,0,0,0.8);
    border-radius: 25px;
    padding-bottom: 50px;
}
.pytanie{
    margin: 2vw;
    text-align: center;
    font-size: 40px;
}
.odpowiedz{
    margin-left: 25vw;
    line-height: 4vh;
}
.odpowiedzSzeroka{
    margin-left: 15vw;
    line-height: 4vh;
}
input + label{
    border-radius: 5px;
    padding: 5px;
}
.poprawna:checked + label{
    background-color: rgb(0, 100, 0);
}
.zla:checked + label{
    background-color: rgb(100, 0, 0);
}
input + label>.opis{
    filter: opacity(0%);
}
input:checked + label>.opis{
    filter: opacity(100%);
}
.opis{
    font-weight: bold;
}
img{
    margin-top: 5vh;
    display: block;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}
#krzyzowka{
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
}
.text{
    margin-left: 5vw;
}